

/**
 * 	flip card css credit to David walsh
 * http://davidwalsh.name/css-flip
 */
.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
}
/* flip the pane when hovered */
.flip-container.hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip-container, .back {
	width: 100%;
}

/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */


/* back, initially hidden pane */
.back{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/**
 * 	back extra styling
 */
.back {
	background-color: #F4F1EA;
	
}

/**
 * 	modal style
 */
.flip-modal{
	width: 500px;
	margin: 100px auto;
	padding: 20px;
	background: #fefefe;
	border-radius: 3px;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.3);
}

.flip-modal p{
	margin: 20px;
	font: 15px Arial, Helvetica, sans-serif;
}

.flip-modal button{
	padding: 7px 30px;
	background: #888888;
	color: white;
	border: 0px none;
	border-radius: 3px;
	cursor: pointer;
}

.flip-modal .right{
	text-align: right;
}

/**
 * 	large buttons style
 */
.large-buttons{
	padding: 10px 30px;
	font: 15px Arial;
	display: block;
	background: #51749C;
	color: #FFFFFF;
	border: 0px none;
	border-radius: 5px;
	margin: 30px auto;
	cursor: pointer;
}

